.header
  padding: 15px 0 11px
  position: relative
  font-family: 'Lato', sans-serif
  background-color: $dark
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &-navbar
    &__list
      list-style: none
      display: flex
      padding: 0
    &__item
      &:not(:last-child)
        margin-right: 30px
    &__link
      text-decoration: none
      color: #fff
      font-size: 14px
      line-height: 20px
  &__buttons
    display: flex
    align-items: center
    justify-content: space-between
  &__button
    background: #656B70
    border-radius: 10px
    border: none
    padding: 10px 62px
    display: flex
    align-items: center
    justify-content: center
    font-size: 14px
    line-height: 20px
    color: #fff
    text-transform: uppercase
    max-width: 260px
    width: 100%
    cursor: pointer
.menu-button
  border: none
  background-color: transparent
  display: none
  margin-left: 40px
  flex-direction: column
  height: 20px
  justify-content: space-between
  cursor: pointer
  &__line
    width: 20px
    height: 1px
    background-color: #fff
    border-radius: 10px
.logo
  &__image
    width: 100%
